<h1>Bienvenido a DCCINEMA</h1>
<p>Tu cine Favorito!</p>

<div class='buttons'>

    <div class='col'>
        <button>Registrar pelicula</button>
        <button>Añadir pelicula a un horario</button>
    </div>

    <div class='col'>
        <button>Ver peliculas existentes</button>
    </div>

</div>
