<h1>Bienvenido a DCCINEMA</h1>
<p>Tu cine Favorito!</p>

<div class='buttons'>

    <div class='col'>
        <button>Añadir pelicula a un horario</button>
    </div>

    <div class='col'>
        <%= link_to 'Ver películas existentes', movies_path, class:"btn btn-success" %>
    </div>

</div>
